<header class="theme-main-menu sticky-menu theme-menu-four" [hidden]="router.url.includes('memory')">
    <div class="inner-content">
        <div class="d-flex align-items-center">
            <div class="logo order-lg-0"><a [routerLink]="['/']" class="d-block"><img src="assets/assetsNpad/images/logo/logo_03.png" alt="" width="90"></a></div>
            
            <div class="right-widget d-flex align-items-center ms-auto order-lg-3">
              
                <div class="call-button d-none d-xl-block me-5">Libro 

                    <a href="tel:+5492216431369" target="_black">+54 9 2216 43-1369</a></div>
                
                <a href="tel:+5492216431369" class="send-msg-btn tran3s d-none d-lg-block">Contactar</a>
            </div> <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                 </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="d-block d-lg-none"><div class="logo"><a><img src="assets/assetsNpad/images/logo/logo_01.png" alt="" width="130"></a></div></li>
                        <li class="nav-item active dropdown">
                            <a [routerLink]="['/']" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Inicio</a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a [routerLink]="['../entrenamientos']" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Entrena ahora</a>
                             <!--<ul class="dropdown-menu">
                                <li class="dropdown-submenu dropdown"><a [routerLink]="['../memory']" class="dropdown-item" ><span>Memoria</span></a></li>
                               <li><a   class="dropdown-item"><span>Lectura</span></a></li>
                                <li><a  class="dropdown-item"><span>Procesamiento</span></a></li> 
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">NPAD</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/about#npda"> <span>Que es la neurociencia?</span></a></li>
                                <li><a routerLink="/about#beneficios"> <span>Para que sirve?</span></a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <!-- Mobile Content -->
                    <div class="mobile-content d-block d-lg-none">
                        <div class="d-flex flex-column align-items-center justify-content-center mt-70">
                            <a class="send-msg-btn tran3s mb-10">Libro</a>
                            <div class="call-button">Llamar <a href="tel:+5492216431369" target="_blank">+54 9 2216 43-1369</a></div>
                        </div>
                    </div> <!-- /.mobile-content -->
                </div>
            </nav>
        </div>
    </div> <!-- /.inner-content -->
</header> 