  <div class="service-details position-relative mt-160 mb-150 lg-mt-100 lg-mb-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1">
          <a [routerLink]="['../entrenamientos']" class="slogan"><strong>Volver atras</strong> <i class="fas fa-chevron-right"></i></a>

          <div class="service-details-meta ps-lg-5 ms-xxl-4">
            <h2 class="main-title">Bienvenidos al entrenamiento de memoria</h2>
            <h3 class="sub-title">Niveles del entrenamiento</h3>
            <div>
              <div class="row">
                <div class="col-md-4 d-flex" data-aos="fade-up">
                  <div class="block-style-ten color-two ps-2 pe-2 text-center tran3s mt-10">
                    <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_39.svg" alt="" class="m-auto"></div>
                    <h6><a href="">Facil</a></h6>
                  </div> <!-- /.block-style-ten -->
                </div>
                <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="100">
                  <div class="block-style-ten color-two ps-2 pe-2 text-center tran3s mt-10">
                    <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_37.svg" alt="" class="m-auto"></div>
                    <h6><a href="">Medio</a></h6>
                  </div> <!-- /.block-style-ten -->
                </div>
                <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="200">
                  <div class="block-style-ten color-two ps-2 pe-2 text-center tran3s mt-10">
                    <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_38.svg" alt="" class="m-auto"></div>
                    <h6><a href="">Dificil</a></h6>
                  </div> <!-- /.block-style-ten -->
                </div>
              </div>
            </div>
           
          </div> <!-- /.service-details-meta -->
        </div>
        
      </div>
    </div>
    <img src="assets/assetsNpad/images/shape/shape_48.svg" alt="" class="shapes bg-shape">
  </div>
  <div class="container">
    <div class="mt-75 lg-mt-50">
      <div class="row gx-xxl-5">
        <div class="col-lg-6">
          <h3 class="sub-title">Instrucciones</h3>
          <p>El entrenaimento iniciara cuando de click en empezar, teniendo 5 segundos para memorizar las palabras pares que se muestras en ambas columnas, luego debera seleccionar la palabra correspondiente. </p>
        </div>
      </div>
    </div>

    <div style=" flex-direction: row; align-items: center;">
  <button style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 10px 20px; margin-right: 20px;" (click)="empezar()">Empezar</button>
  <div style="flex: 1;">
    <p style="margin: 0; padding: 0;">&nbsp;</p>
    <div style="display: flex; flex-direction: row;">
      <div style="flex: 1;">
        <p>Contador: <strong>{{contador}}</strong></p>
      </div>
      <div style="flex: 1;">
        <p>Seleccionada: <strong style="font-size: 1.2em; font-weight: bold;">{{seleccionada}}</strong></p>
      </div>
      <div style="flex: 1;">
        <p>Resultado: <strong>{{result}}</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="max-width: 800px; ">
  <div class="col-sm-6 col-md-6 col-lg-12 columna">
    <div class="card-deck" [hidden]="!visibles">
      <div class="card rounded m-2 shadow-sm mx-2" *ngFor="let item of words; let i = index">
        <div class="card-body">
          <h5 class="card-title" [hidden]="contador === 0">{{item}}</h5>
          <h5 class="card-title" [ngStyle]="i !== select ? {'color': 'white'} : {}" [hidden]="contador !== 0">{{item}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-12 columna">
    <div class="card-deck" [hidden]="!visibles">
      <div class="card rounded m-2 shadow-sm mx-2" *ngFor="let item of words2; let i = index" (click)="set(i)" style="cursor: pointer;">
        <div class="card-body">
          <h5 class="card-title">{{item}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

    
    
