  <div class="service-details position-relative mt-80 mb-80 lg-mt-100 lg-mb-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 order-lg-1">
          <a [routerLink]="['../entrenamientos']" class="slogan"><strong>Volver atras</strong> <i class="fas fa-chevron-right"></i></a>
          <div class="service-details-meta" style="text-align: center;">
            <h2 class="main-title">Bienvenidos al entrenamiento de memoria</h2>
            <h6> Nivel Facil  "A LA PAR" </h6>
          </div>  
          <h3 class="sub-title">Instrucciones: </h3> 
          <h4>El entrenamiento iniciara cuando presione empezar, teniendo 5 segundos para memorizar las palabras pares que se muestras en ambas columnas, luego debera seleccionar la palabra correspondiente.
          </h4>

          <div class="row ">
            <div class="col-md-4 col-sm-3 d-flex" data-aos="fade-up">
              <div class="block-style-ten color-two ps-2 pe-2 text-center tran3s mt-10">
                <div class="icon d-flex align-items-end"> 
                  <button style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 10px 20px; text-align: center;" [routerLink]="['']">Nivel 1</button>
                </div>
              </div> 
            </div>
            <div class="col-md-4 col-sm-3 d-flex" data-aos="fade-up">
              <div class="block-style-ten color-two ps-2 pe-2 text-center tran3s mt-10">
                <div class="icon d-flex align-items-end"> 
                  <button style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 10px 20px; text-align: center;" [routerLink]="['../memory1']">Nivel 2</button>
                </div>
              </div> 
            </div>
            <div class="col-md-4 col-sm-3 d-flex" data-aos="fade-up">
              <div class="block-style-ten color-two ps-2 pe-2 text-center tran3s mt-10">
                <div class="icon d-flex align-items-end"> 
                  <button style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 10px 20px; text-align: center;" [routerLink]="['../memory2']">Nivel 3</button>
                </div>
              </div> 
            </div>
          </div>
          <div class="">
            <div style="flex-direction: row; align-items: center;" class="col-lg-12">
              <div style="flex: 1;">
                <p style="margin: 0; padding: 0;">&nbsp;</p>
                <div style="display: flex; flex-direction: row;">
                  <div style="flex: 1;">
                    <button style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 10px 20px; margin-right: 20px;" (click)="empezar()">Empezar</button>
                  </div>
                  <div style="flex: 1;">
                    <p>Contador: <strong>{{contador}}</strong></p>
                  </div>
                  <div style="flex: 1;">
                    <p>Seleccionada: <strong style="font-size: 1.2em; font-weight: bold;">{{seleccionada}}</strong></p>
                  </div>
                  <div style="flex: 1;">
                    <p>Resultado: <strong>{{result}}</strong></p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-xl-6 col-lg-6 order-lg-1">
          <div class="row" style="max-width: 1200px; ">
            <div class="col-sm-6 col-md-6 col-lg-6 columna">
              <div class="card-deck" [hidden]="!visibles">
                <div class="card rounded m-2 shadow-sm mx-2" *ngFor="let item of words; let i = index">
                  <div class="card-body" style="padding: 0;"> 
                    <h5 class="card-title" [hidden]="contador === 0">{{item}}</h5>
                    <h5 class="card-title" [ngStyle]="i !== select ? {'color': 'white'} : {}" [hidden]="contador !== 0">{{item}}</h5>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-sm-6 col-md-6 col-lg-6 columna">
              <div class="card-deck" [hidden]="!visibles">
                <div class="card rounded m-2 shadow-sm mx-2" *ngFor="let item of words2; let i = index" (click)="set(i)" style="cursor: pointer;">
                  <div class="card-body" style="padding: 0;">
                    <h5 class="card-title">{{item}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
  <div class="container" id="level1">
    <div class="mt-75 lg-mt-50">
      <div class="row gx-xxl-5">
        <div class="col-lg-12">
          
          </div>
      </div>
    </div>
    <div>
     
    </div>
    
    

   
  </div>


    
    
