<header class="theme-main-menu sticky-menu theme-menu-four">
    <div class="inner-content">
        <div class="d-flex align-items-center">
            <div class="logo order-lg-0"><a  class="d-block"><img src="assets/assetsNpad/images/logo/logo_03.png" alt="" width="90"></a></div>
            
            <div class="right-widget d-flex align-items-center ms-auto order-lg-3">
              
                <div class="call-button d-none d-xl-block me-5">Consultas al 

                    <a href="tel:+56932338523" target="_black">(+56) 9 3233 8523</a></div>
                
                <a href="tel:+56932338523" class="send-msg-btn tran3s d-none d-lg-block">Contactar</a>
            </div> <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                 </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="d-block d-lg-none"><div class="logo"><a><img src="images/logo/logo_01.png" alt="" width="130"></a></div></li>
             
                        <li class="nav-item dropdown">
                            <a [routerLink]="['../memory']" class="nav-link dropdown-toggle"  role="button"  data-bs-auto-close="outside" aria-expanded="false">Entrena ahora</a>
                          
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">NPAD</a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['../about']"> <span>Que es la neurociencia?</span></a></li>
                                <li><a [routerLink]="['../about']"> <span>Para que sirve?</span></a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <!-- Mobile Content -->
                    <div class="mobile-content d-block d-lg-none">
                        <div class="d-flex flex-column align-items-center justify-content-center mt-70">
                          
                            <div class="call-button">Contáctar<a href="tel:+56932338523" target="_blank">(+56) 9 3233 8523</a></div>
                        </div>
                    </div> <!-- /.mobile-content -->
                </div>
            </nav>
        </div>
    </div> <!-- /.inner-content -->
</header> 

<div class="main-page-wrapper">  

            <div class="hero-banner-five ">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-6 col-md-7" >
                            <a  class="slogan"><strong>Bienvenidos</strong> a entrenamientos mentales en <i class="fas fa-chevron-right"></i></a>
                            <h1 class="hero-heading">NPAD <strong>Neurociencia Aplicada a Destrezas </strong></h1>
                            <p class="text-lg mb-50 pt-40 pe-xl-5 md-pt-30 md-mb-40"><i>Tu mente te ha dado todo lo que tienes y te podrá dar todo lo que quieres</i></p>
                            <ul class="style-none button-group d-flex align-items-center">
                                <li class="me-4"><a [routerLink]="['../memory']" class="demo-btn ripple-btn tran3s">Entrenamiento</a></li>
                               <!-- <li><a class="fancybox video-icon tran3s" data-fancybox="" href="http://aprendizajesinaptico.com/step/taller/?wvideo=66mx6xza6k"><i class="fas fa-play"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.container -->
                <div class="illustration-holder">
                    <img src="assets/assetsNpad/images/assets/ils_14.svg" alt="" class="main-illustration ms-auto">
                    <img src="assets/assetsNpad/images/assets/ils_14_1.png" alt="" class="shapes shape-one">
                    <img src="assets/assetsNpad/images/assets/ils_14_2.svg" alt="" class="shapes shape-two" data-aos="fade-down">
                    <img src="assets/assetsNpad/images/assets/ils_14_3.svg" alt="" class="shapes shape-three" data-aos="fade-down">
                </div> <!-- /.illustration-holder -->
                <div class="shapes oval-one"></div>
            </div> 
            

            <div class="fancy-feature-nine mt-190 lg-mt-100" id="memoria">
				<div class="container">
					<div class="row">
						<div class="col-xxl-5 col-lg-6 ms-auto order-lg-last">
							<div class="block-style-two md-mb-50" data-aos="fade-left">
								<div class="title-style-one">
									<div class="sc-title-four">PROCESO DE TEST</div>
									<h2 class="main-title">Hemos creado una selección de tareas para tu mente.</h2>
								</div> <!-- /.title-style-one -->
								<ul class="nav nav-tabs justify-content-between" role="tablist">
							  		<li class="nav-item" role="presentation">
							  			<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#sp1" type="button" role="tab">Memoria</button>
							  		</li>
							  		<li class="nav-item" role="presentation">
							  			<button class="nav-link" data-bs-toggle="tab" data-bs-target="#sp2" type="button" role="tab">Lectura </button>
							  		</li>
							  		<li class="nav-item" role="presentation">
							  			<button class="nav-link" data-bs-toggle="tab" data-bs-target="#sp3" type="button" role="tab">Procesamiento</button>
							  		</li>
							  		
								</ul>
								<div class="tab-content">
									<div class="tab-pane fade active show" id="sp1">
										<p class="pt-10 pb-10">Desarrolla y estimula tu cerebro para potenciar tu memoria, con estas técnicas podrás tener:</p>
										<ul class="style-none list-item">
											<li>Mayor claridad en tu vida</li>
											<li>Mejorar en la toma de decisiones</li>
											<li>Mejor rendimiento académico</li>
                                            <li>Mayor funcionalidad y por ende, mayor vitalidad</li>
										</ul>
									</div> <!-- /.tab-pane -->
									<div class="tab-pane fade" id="sp2">
										<p class="pt-10 pb-10">Vivíamos en el mundo de la información, ahora vale más quien procesa y utiliza la mayor información.
                                        </p>
										<ul class="style-none list-item">
											<li>Mejorando la calidad y velocidad de tu lectura podrás acceder en tiempo record a décadas de conocimiento que se encuentran escritos en los libros.</li>
											<li>Leer un libro en tan solo una (1) HORA.</li>
										
										</ul>
									</div> <!-- /.tab-pane -->
									<div class="tab-pane fade" id="sp3">
										<p class="pt-10 pb-10">El procesamiento mental es aquella capacidad que nos permite tomar decisiones de una manera acertada mediante el “proceso de la información hacia los distintos lóbulos cerebrales”, entrenando esta habilidad podrás mejorar y subir de nivel en todos los aspectos de tu vida:</p>
										<ul class="style-none list-item">
											<li>Potencia funciones ejecutivas</li>
											<li>Mejora funciones de tu vida personal</li>
											
										</ul>
									</div> <!-- /.tab-pane -->
									<div class="tab-pane fade" id="sp4">
										<p class="pt-10 pb-10">Sinco is data science, machine learning and artificial intelligence provide business solution.</p>
										<ul class="style-none list-item">
											<li>Page Load (time, size, number of requests).</li>
											<li>Various analysis options.</li>
											<li>Big data analysis.</li>
										</ul>
									</div> <!-- /.tab-pane -->
								</div> <!-- /.tab-content -->
								
							</div> <!-- /.block-style-two -->
						</div>

						<div class="col-lg-6 order-lg-first text-center text-lg-start" data-aos="fade-right">
							<div class="illustration-holder d-inline-block ms-xxl-5 mt-40 lg-mt-10">
								<img src="assets/assetsNpad/images/assets/ils_08.svg" alt="" class="transform-img-meta">
								<img src="assets/assetsNpad/images/assets/ils_08_1.svg" alt="" class="shapes shape-one">
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div>


</div>
