

<div class="main-page-wrapper">  

            <div class="hero-banner-five ">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-6 col-md-7" >
                           <!-- <a href="#ebook" class="slogan"><strong>Nuevo</strong> te enseño a usar tu cerebro, E-book. <i class="fas fa-chevron-right"></i></a>-->
                            <h1 class="hero-heading">NPAD <strong>Neurociencia Aplicada a Destrezas </strong></h1>
                            <p class="text-lg mb-50 pt-40 pe-xl-5 md-pt-30 md-mb-40"><i>Tu mente te ha dado todo lo que tienes y te podrá dar todo lo que quieres</i></p>
                            <ul class="style-none button-group d-flex align-items-center">
                                <li class="me-4"><a [routerLink]="['../entrenamientos']" class="demo-btn ripple-btn tran3s">Entrenamiento</a></li>
                                <li><a class="fancybox video-icon tran3s" data-fancybox="" href="https://aprendizajesinaptico.com/step/taller/?wvideo=66mx6xza6k"><i class="fas fa-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.container -->
                <div class="illustration-holder">
                    <img src="assets/assetsNpad/images/assets/ils_13.svg" alt="" class="main-illustration ms-auto">
                    <img src="assets/assetsNpad/images/assets/ils_13_1.png" alt="" class="shapes shape-one">
                    <img src="assets/assetsNpad/images/assets/ils_13_2.svg" alt="" class="shapes shape-two" data-aos="fade-down">
                    <img src="assets/assetsNpad/images/assets/ils_13_2.svg" alt="" class="shapes shape-three" data-aos="fade-down">
                </div> <!-- /.illustration-holder -->
                <div class="shapes oval-one"></div>
            </div> 

            <!-- <div class="pricing-section-one mt-130 lg-mt-110" id="ebook">
				<div class="container" data-aos="fade-up">
					<div class="row">
						<div class="col-xxl-7 col-xl-8 col-lg-7 col-md-9 m-auto">
							<div class="title-style-one text-center">
								<h2 class="main-title">Te enseño a usar el cerebro </h2>
                                <p>Potenciamos tu rendimiento cerebral en la dirección que sea requerida</p>
                                <p>Aprende a leer un libro por HORA</p>
                                   <p>
                                    ¿Quieres aprender cómo lograrlo?⏬ </p>
                                    <h6>Descarga la guia definitiva</h6> 
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="business" value="neuro6250@gmail.com">
                                    <input type="hidden" name="lc" value="AL">
                                    <input type="hidden" name="item_name" value="Libro usando nuestro cerebro">
                                    <input type="hidden" name="item_number" value="20">
                                    <input type="hidden" name="amount" value="20.00">
                                    <input type="hidden" name="currency_code" value="USD">
                                    <input type="hidden" name="button_subtype" value="products">
                                    <input type="hidden" name="no_note" value="0">
                                    <input type="hidden" name="tax_rate" value="5.000">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                    </form>


                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_xclick">
                                    <input type="hidden" name="business" value="neuro6250@gmail.com">
                                    <input type="hidden" name="lc" value="ES">
                                    <input type="hidden" name="item_name" value="Libro usando nuestro cerebro">
                                    <input type="hidden" name="amount" value="20.00">
                                    <input type="hidden" name="currency_code" value="USD">
                                    <input type="hidden" name="button_subtype" value="services">
                                    <input type="hidden" name="no_note" value="0">
                                    <input type="hidden" name="tax_rate" value="5.000">
                                    <input type="hidden" name="shipping" value="20.00">
                                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                    </form>

							</div> 
						</div>
					</div>
                </div>
            </div> -->

            <div class="fancy-feature-eighteen position-relative pt-200 pb-225 lg-pt-130 md-pt-100 xl-pb-150 lg-pb-100" id="npda">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-7 ms-auto">
                            <div class="block-style-two" data-aos="fade-left">
                                <div class="title-style-three">
                                    
                                    <h2  class="main-title">Que es la <strong>NEUROCIENCIA</strong> en NPAD?</h2>
                                </div> 
                                <p class="pt-20 pb-25 lg-pb-20">Miles de personas en el mundo entero ya han notado la importancia de mantener su cerebro saludable y hacerlo rendir, tener agilidad mental, reducir el estrés, mejorar sus relaciones con los demás, usar su máximo potencial en aquello que ama.</p>
                                
                                <a [routerLink]="['../entrenamiento']" class="btn-eight mt-50 lg-mt-30">Quiero entrenar</a>
                            </div> <!-- /.block-style-two -->
                        </div>
                    </div>
                </div> <!-- /.container -->
                <div class="illustration-holder" data-aos="fade-right">
                    <img src="assets/assetsNpad/images/assets/ils_14.svg" alt="" class="w-100 main-illustration">
                    <img src="assets/assetsNpad/images/assets/ils_14_1.svg" alt="" class="shapes shape-one" data-aos="fade-down">
                    <img src="assets/assetsNpad/images/assets/ils_14_2.svg" alt="" class="shapes shape-two" data-aos="fade-down" data-aos-delay="100">
                    <img src="assets/assetsNpad/images/assets/ils_14_3.svg" alt="" class="shapes shape-three" data-aos="fade-down" data-aos-delay="200">
                    <img src="assets/assetsNpad/images/assets/ils_14_4.svg" alt="" class="shapes shape-four">
                    <img src="assets/assetsNpad/images/assets/ils_14_5.svg" alt="" class="shapes shape-five">
                    <img src="assets/assetsNpad/images/assets/ils_14_6.svg" alt="" class="shapes shape-six">
                    <img src="assets/assetsNpad/images/assets/ils_14_7.svg" alt="" class="shapes shape-seven">
                </div> <!-- /.illustration-holder -->
                <div class="shapes oval-one"></div>
                <div class="shapes oval-two"></div>
                <div class="shapes oval-three"></div>
            </div> 



            <div class="fancy-feature-seventeen position-relative mt-160 xl-mt-50" id="beneficios">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6" data-aos="fade-right">
                            <div class="title-style-three text-center text-lg-start">
                                <h2 class="main-title"><strong>¿Cuáles son los beneficios de entrenar mi cerebro?</strong></h2>
                            </div> 
                        </div>
                        <div class="col-xl-6 col-lg-6" data-aos="fade-left">
                            <p class="m0 text-center text-lg-start md-pt-30">Imagina que harías si tuvieras un mayor porcentaje de desarrollo diario en tu concentración, memoria, creatividad, velocidad de procesamiento de la información, lectura, razonamiento, resolución de problemas y toma de decisiones. Además podrás</p>
                        </div>
                    </div>

                    <div class="row justify-content-center pt-30">
                        
                        <div class="col-xl-2 col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="block-style-twelve mt-30 active">
                                <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_33.svg" alt=""></div>
                                <h5><a href="#">Retrasar enfermedades cognitivas</a></h5>
                                
                                <a href="#" class="tran3s more-btn"><img src="assets/assetsNpad/images/icon/icon_20.svg" alt=""></a>
                            </div> 
                        </div> 
                        <div class="col-xl-2 col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="block-style-twelve mt-30 active">
                                <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_31.svg" alt=""></div>
                                <h5><a href="#">Potenciar tus habilidades ejecutivas</a></h5>
                                
                                <a href="#" class="tran3s more-btn"><img src="assets/assetsNpad/images/icon/icon_20.svg" alt=""></a>
                            </div> 
                        </div> 
                        <div class="col-xl-2 col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="block-style-twelve mt-30 active">
                                <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_37.svg" alt=""></div>
                                <h5><a href="#">Potenciar tu aprendizaje</a></h5>
                                
                                <a href="#" class="tran3s more-btn"><img src="assets/assetsNpad/images/icon/icon_20.svg" alt=""></a>
                            </div> 
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="block-style-twelve mt-30 active">
                                <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_32.svg" alt=""></div>
                                <h5><a href="#">Gestionar tus emociones</a></h5>
                                
                                <a href="#" class="tran3s more-btn"><img src="assets/assetsNpad/images/icon/icon_20.svg" alt=""></a>
                            </div> 
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6" data-aos="fade-left">
                            <div class="block-style-twelve mt-30">
                                <div class="icon d-flex align-items-end"><img src="assets/assetsNpad/images/icon/icon_39.svg" alt=""></div>
                                <h5><a href="#">Mantenerte saludable y funcional</a></h5>
                                
                                <a href="#" class="tran3s more-btn"><img src="assets/assetsNpad/images/icon/icon_20.svg" alt=""></a>
                            </div> 
                        </div>

                    </div>
                </div>
                <div class="shapes shape-one"></div>
            </div> 


            <div class="fancy-feature-nineteen position-relative pt-130 lg-pt-80">
                <div class="container" id="memoria">
                    <div class="row">
                        <div class="col-xxl-5 col-lg-6 col-md-7">
                            <div class="block-style-thirteen" data-aos="fade-right">
                                <div class="title-style-three pb-15">
                                    <div class="sc-title">PROCESO DE TEST</div>
                                    <h2 class="main-title">¿Qué <strong>entrenamientos</strong> tienen disponibles? </h2>
                                </div> 
                                <ul class="style-none list-item">
                                    <li data-aos="fade-up">
                                        <div class="numb tran3s">1</div>
                                        <h6><a href="memoria.html">Memoria</a> </h6>
                                        <span>Desarrolla y estimula tu cerebro para potenciar tu memoria, tendrás mayor claridad en tu vida, mejor toma de decisiones, mejor rendimiento académico,  mayor funcionalidad y por ende, mayor vitalidad.</span>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="50">
                                        <div class="numb tran3s">2</div>
                                        <h6>Lectura</h6>
                                        <span>Vivíamos en el mundo de la información, ahora vale más quien procesa y utiliza la mayor información. Mejorando la calidad y velocidad de tu lectura podrás acceder en tiempo record a décadas de conocimiento que se encuentran escritos en los libros.</span>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <div class="numb tran3s">3</div>
                                        <h6>Procesamiento</h6>
                                        <span>El procesamiento mental es aquella capacidad que nos permite tomar decisiones de una manera acertada mediante el “proceso de la información hacia los distintos lóbulos cerebrales”, entrenando esta habilidad podrás mejorar tus funciones ejecutivas y funciones de tu vida personal.</span>
                                    </li>
                                </ul>
                            </div> <!-- /.block-style-thirteen -->
                        </div>
                    </div>
                </div> <!-- /.container -->
                <div class="illustration-holder" data-aos="fade-left">
                    <img src="assets/assetsNpad/images/assets/ils_15.svg" alt="" class="w-100 main-illustration">
                    <img src="assets/assetsNpad/images/assets/ils_15_1.svg" alt="" class="shapes shape-one">
                    <img src="assets/assetsNpad/images/assets/ils_15_2.svg" alt="" class="shapes shape-two">
                    <img src="assets/assetsNpad/images/assets/ils_15_3.svg" alt="" class="shapes shape-three">
                    <img src="assets/assetsNpad/images/assets/ils_15_4.svg" alt="" class="shapes shape-four">
                    <img src="assets/assetsNpad/images/assets/ils_15_5.svg" alt="" class="shapes shape-five" data-aos="fade-down" data-aos-delay="200" data-aos-duration="2000">
                    <img src="assets/assetsNpad/images/assets/ils_15_6.svg" alt="" class="shapes shape-six" data-aos="fade-down" data-aos-delay="100" data-aos-duration="2000">
                    <img src="assets/assetsNpad/images/assets/ils_15_7.svg" alt="" class="shapes shape-seven" data-aos="fade-down" data-aos-duration="2000">
                </div> <!-- /.illustration-holder -->
                <div class="shapes oval-one"></div>
                <div class="shapes oval-two"></div>
                <img src="assets/assetsNpad/images/shape/shape_35.svg" alt="" class="shapes bg-shape">
            </div> 

            

            <div class="counter-section-one mt-140 lg-mt-100">
                <div class="container">
                    <div class="inner-container bg-color">
                        <div class="row justify-content-center">
                            <div class="col-md-4 col-sm-6" data-aos="fade-up">
                                <div class="counter-block-one text-center mb-20">
                                    <div class="main-count"><span class="counter">3.5</span></div>
                                    <p>Entenamientos</p>
                                </div> <!-- /.counter-block-one -->
                            </div>
                            <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
                                <div class="counter-block-one text-center mb-20">
                                    <div class="main-count"><span class="counter">20</span>+</div>
                                    <p>Clientes satisfechos <br>Ahora son mas hábiles y usan sus destrezas</p>
                                </div> <!-- /.counter-block-one -->
                            </div>
                            <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="counter-block-one text-center mb-20">
                                    <div class="main-count"><span class="counter">70</span>%</div>
                                    <p>Potenciación de aprendizaje, salud mental y <br>retrazo de enfermedades.</p>
                                </div> <!-- /.counter-block-one -->
                            </div>
                        </div>
                    </div> <!-- /.inner-container -->
                </div>
            </div>

            <!-- <div class="feedback-section-five pt-130 lg-pt-100 pb-95 lg-pb-40" id="testimonios">
                <div class="container">
                    <div class="title-style-three text-center" data-aos="fade-up">
                        <div class="sc-title">Testimonios</div>
                        <h2 class="main-title">Pacientes dicen que si <span>funciona</span></h2>
                    </div> 

                    <div class="feedback_slider_four pt-70 lg-pt-50" data-aos="fade-up">
                        <div class="item">
                            <div class="row">
                                <div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">
                                    <div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">
                                        <img src="assets/assetsNpad/images/icon/icon_34.svg" alt="" class="m-auto">
                                        <p>Having a home based business is a wonderful asset to your life. The problem still stands it comes timeadvertise your business for a cheap cost. I know you have looked answer everywhere.</p>
                                        <div class="cp-info">
                                            <h6>Rashed kabir</h6>
                                            <span>Designer</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">
                                    <div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">
                                        <img src="assets/assetsNpad/images/icon/icon_34.svg" alt="" class="m-auto">
                                        <p>Having a home based business is a wonderful asset to your life. The problem still stands it comes timeadvertise your business for a cheap cost. I know you have looked answer everywhere.</p>
                                        <div class="cp-info">
                                            <h6>Zubayer Hasan</h6>
                                            <span>Front End developer</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">
                                    <div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">
                                        <img src="assets/assetsNpad/images/icon/icon_34.svg" alt="" class="m-auto">
                                        <p>Having a home based business is a wonderful asset to your life. The problem still stands it comes timeadvertise your business for a cheap cost. I know you have looked answer everywhere.</p>
                                        <div class="cp-info">
                                            <h6>Mahfuz Riad</h6>
                                            <span>Designer</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="assets/assetsNpad/images/media/img_08.jpg" alt="" class="shapes avatar-one" width="45" height="45" style="outline-width: 6px;">
                <img src="assets/assetsNpad/images/media/img_09.jpg" alt="" class="shapes avatar-two" width="85" height="85" style="outline-width: 10px;">
                <img src="assets/assetsNpad/images/media/img_10.jpg" alt="" class="shapes avatar-three" width="85" height="85" style="outline-width: 10px;">
                <img src="assets/assetsNpad/images/media/img_11.jpg" alt="" class="shapes avatar-four" width="50" height="50" style="outline-width: 5px;">
            </div> --> <!-- /.feedback-section-five -->

</div>
